/* =================== HOME PAGE REPONSIVE START =================== */
@media (max-width: 575.98px) { 
    header {
        padding: 5px 0;
    }
    header .main_head .Admission a {
        font-size: 12px;
        padding: 2px 10px;
    }
    header .main_head .social ul {
        gap: 15px;
    }
    header .main_head .social ul li a {
        font-size: 12px;
    }
    header .main_head .headline p {
        font-size: 12px;
    }
 }
@media (min-width: 576px) and (max-width: 767.98px) {  }
@media (min-width: 768px) and (max-width: 991.98px) {  }
@media (min-width: 992px) and (max-width: 1199.98px) {  }
@media (min-width: 1200px) {  }
/* =================== HOME PAGE REPONSIVE ENDED =================== */
@media (max-width: 575.98px) {  }
@media (min-width: 576px) and (max-width: 767.98px) {  }
@media (min-width: 768px) and (max-width: 991.98px) {  }
@media (min-width: 992px) and (max-width: 1199.98px) {  }
@media (min-width: 1200px) {  }