@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  padding: 20px 0;
  background-color: #C99789;
}
header .main_head {
  display: flex;
  justify-content: space-between;
}
header .main_head .Admission {
  width: 33.333%;
}
header .main_head .Admission a {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
}
header .main_head .Admission a::after {
  content: "";
  height: 100%;
  width: 5%;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  transition: 0.4s;
}
header .main_head .Admission a:hover {
  color: white;
}
header .main_head .Admission a:hover::after {
  width: 100%;
}
header .main_head .headline {
  position: relative;
  width: 33.333%;
  overflow: hidden;
}
header .main_head .headline p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  position: absolute;
  top: 20%;
  left: 0;
  width: 540px;
  animation: scroll 15s linear infinite running;
}
@keyframes scroll {
  from {
    top: 20%;
    left: 100%;
  }
  to {
    top: 20%;
    left: -150%;
  }
}
header .main_head .social {
  width: 33.333%;
}
header .main_head .social ul {
  display: flex;
  justify-content: end;
  gap: 40px;
}
header .main_head .social ul li a {
  font-size: 30px;
  transition: 0.4s;
  color: white;
}
header .main_head .social ul li a:hover {
  transform: rotate(360deg) scale(1.5);
  color: #052E59;
}

nav .navbar-brand {
  width: 150px;
}
nav .navbar-brand img {
  width: 100%;
}
nav .main_menu {
  display: flex;
  justify-content: space-between;
}
nav .main_menu ul {
  width: 85%;
  justify-content: space-between;
}
nav .main_menu ul li a {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #052E59;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
}
nav .main_menu ul li a::after {
  content: "";
  height: 100%;
  width: 0%;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  transition: 0.4s;
}
nav .main_menu ul li a:hover {
  color: white;
}
nav .main_menu ul li a:hover::after {
  width: 100%;
}
nav .main_menu ul .dropdown {
  position: relative;
}
nav .main_menu ul .dropdown ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #C99789;
  padding: 10px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all linear 0.4s;
  z-index: 1;
}
nav .main_menu ul .dropdown ul li {
  display: inline;
}
nav .main_menu ul .dropdown ul li a {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
}
nav .main_menu ul .dropdown ul li a::after {
  content: "";
  height: 100%;
  width: 3%;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  transition: 0.4s;
}
nav .main_menu ul .dropdown ul li a:hover {
  color: white;
}
nav .main_menu ul .dropdown ul li a:hover::after {
  width: 100%;
}
nav .main_menu ul .dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  animation: updown 0.4s alternate;
}
@keyframes updown {
  from {
    top: 250%;
    left: 0;
  }
  to {
    top: 100%;
    left: 0;
  }
}
nav .main_menu .log_sign a {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
}
nav .main_menu .log_sign a::after {
  content: "";
  height: 100%;
  width: 0%;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  transition: 0.4s;
}
nav .main_menu .log_sign a:hover {
  color: white;
}
nav .main_menu .log_sign a:hover::after {
  width: 100%;
}

.menufixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  animation: menufixed 1s;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}

@keyframes menufixed {
  from {
    top: -200px;
    left: 0;
  }
  to {
    top: 0;
    left: 0;
  }
}
#banner .bnrs_item {
  padding: 50px 0;
  height: 750px;
}
#banner .bnrs_item .bnr_txt h1 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #052E59;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
}
#banner .bnrs_item .bnr_txt p {
  width: 400px;
  height: 50px;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  margin: 50px 0;
  padding: 0 10px;
  background-color: #C99789;
  overflow: hidden;
  position: relative;
}
#banner .bnrs_item .bnr_txt p span {
  position: absolute;
  top: 20%;
  left: 0;
  width: 460px;
  animation: bnrscroll 10s linear infinite;
}
@keyframes bnrscroll {
  from {
    top: 20%;
    left: 100%;
  }
  to {
    top: 20%;
    left: -120%;
  }
}
#banner .bnrs_item .bnr_txt a {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
}
#banner .bnrs_item .bnr_txt a::after {
  content: "";
  height: 100%;
  width: 5%;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  transition: 0.4s;
}
#banner .bnrs_item .bnr_txt a:hover {
  color: white;
}
#banner .bnrs_item .bnr_txt a:hover::after {
  width: 100%;
}

#important {
  padding: 100px 0;
  background-color: rgba(201, 151, 137, 0.172);
}
#important .important_main {
  display: flex;
  justify-content: space-between;
}
#important .important_main .important_item {
  width: 15%;
  background-color: #C99789;
  border-left: 5px solid #C99789;
  border-radius: 10px;
  transition: 0.4s;
}
#important .important_main .important_item:hover {
  border-color: #052E59;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.15);
}
#important .important_main .important_item .important_icon {
  padding: 10px;
}
#important .important_main .important_item .important_icon img {
  width: 100%;
}
#important .important_main .important_item h2 {
  text-align: center;
}
#important .important_main .important_item h2 a {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

#welcome {
  padding: 100px 0;
  position: relative;
}
#welcome .dottedbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 5%;
}
#welcome .welcome {
  display: flex;
  gap: 50px;
}
#welcome .welcome .welcome_txt {
  width: 60%;
}
#welcome .welcome .welcome_txt h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
  text-transform: capitalize;
  padding-bottom: 10px;
  position: relative;
}
#welcome .welcome .welcome_txt h2::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: #C99789;
  position: absolute;
  bottom: 0;
  left: 0;
}
#welcome .welcome .welcome_txt p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  padding: 30px 0;
}
#welcome .welcome .welcome_txt .main_accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  --bs-accordion-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: none;
}
#welcome .welcome .welcome_txt .main_accordion .sub_accordion {
  border: 3px solid #052E59;
}
#welcome .welcome .welcome_txt .main_accordion .sub_accordion .accordion_head .accordion_btn {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #052E59;
  text-transform: capitalize;
}
#welcome .welcome .welcome_txt .main_accordion .sub_accordion .accordion_head .accordion_btn:focus {
  border-color: transparent;
}
#welcome .welcome .welcome_txt .main_accordion .sub_accordion .accordion_head .accordion_btn:not(.collapsed) {
  background-color: #C99789;
  color: white;
}
#welcome .welcome .welcome_counter {
  width: 40%;
}
#welcome .welcome .welcome_counter h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
  text-transform: capitalize;
  text-align: right;
  padding-bottom: 10px;
  position: relative;
}
#welcome .welcome .welcome_counter h2::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #C99789;
  position: absolute;
  bottom: 0;
  right: 0;
}
#welcome .welcome .welcome_counter .main_welc_counter {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 70px;
}
#welcome .welcome .welcome_counter .main_welc_counter .counter_list {
  display: flex;
  gap: 30px;
}
#welcome .welcome .welcome_counter .main_welc_counter .counter_list .counter_item {
  border: 4px solid #052E59;
  padding: 10px;
  width: 50%;
  transition: 0.4s;
}
#welcome .welcome .welcome_counter .main_welc_counter .counter_list .counter_item:hover {
  border-color: #C99789;
}
#welcome .welcome .welcome_counter .main_welc_counter .counter_list .counter_item:hover h3 {
  color: #C99789;
}
#welcome .welcome .welcome_counter .main_welc_counter .counter_list .counter_item:hover p {
  color: #C99789;
}
#welcome .welcome .welcome_counter .main_welc_counter .counter_list .counter_item h3 {
  text-align: center;
  padding: 30px 0;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #052E59;
  transition: 0.4s;
}
#welcome .welcome .welcome_counter .main_welc_counter .counter_list .counter_item p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  transition: 0.4s;
}

#messege {
  padding: 100px 0;
  background-color: rgba(201, 151, 137, 0.172);
}
#messege .main_messege {
  display: flex;
  gap: 50px;
}
#messege .main_messege .principal_img {
  width: 35%;
}
#messege .main_messege .principal_img img {
  width: 100%;
}
#messege .main_messege .principal_img .principal_name {
  margin: 30px 0 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#messege .main_messege .principal_img .principal_name .prin_name {
  letter-spacing: 10px;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #052E59;
}
#messege .main_messege .principal_img .principal_name p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  text-transform: capitalize;
}
#messege .main_messege .principal_img .principal_name p a {
  display: block;
  color: #052E59;
  font-weight: 700;
  letter-spacing: 10px;
}
#messege .main_messege .principal_messege {
  width: 65%;
}
#messege .main_messege .principal_messege h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
  padding-bottom: 10px;
  position: relative;
}
#messege .main_messege .principal_messege h2::after {
  content: "";
  height: 5px;
  width: 20%;
  background-color: #052E59;
  position: absolute;
  bottom: 0;
  left: 0;
}
#messege .main_messege .principal_messege p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  margin-top: 40px;
  text-align: justify;
}
#messege .main_messege .principal_messege p a {
  color: #052E59;
  font-weight: 700;
}
#messege .main_messege .principal_messege p span {
  display: block;
  margin-top: 30px;
}
#messege .main_messege .principal_messege .principal_signature {
  margin-top: 60px;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#messege .main_messege .principal_messege .principal_signature .prin_name {
  display: block;
  letter-spacing: 10px;
  font-weight: 600;
}
#messege .main_messege .principal_messege .principal_signature .prin_title {
  margin-top: 10px;
}
#messege .main_messege .principal_messege .principal_signature .institution_nm {
  margin: 0px;
}

#recent {
  padding: 100px 0;
}
#recent .recent_head {
  text-align: center;
}
#recent .recent_head h2 {
  text-transform: uppercase;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
}
#recent .recent_head p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  margin-top: 20px;
  padding-bottom: 10px;
  position: relative;
}
#recent .recent_head p::after {
  content: "";
  width: 20%;
  height: 5px;
  background-color: #C99789;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#recent .recent_slider {
  margin-top: 70px;
  position: relative;
}
#recent .recent_slider .slick-arrow {
  position: absolute;
  bottom: -10%;
  border: 3px solid #052E59;
  padding: 5px 30px;
  transition: 0.4s;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#recent .recent_slider .slick-arrow:hover {
  background-color: #C99789;
  color: white;
}
#recent .recent_slider .slick_left {
  left: 45%;
}
#recent .recent_slider .slick_right {
  left: 55%;
}
#recent .recent_slider .recent_item {
  padding: 30px;
  background-color: #C99789;
  margin: 0 20px;
}
#recent .recent_slider .recent_item .recent_img {
  position: relative;
}
#recent .recent_slider .recent_item .recent_img img {
  width: 100%;
  height: 200px;
}
#recent .recent_slider .recent_item .recent_img .recent_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(5, 46, 89, 0.301);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: 0.4s;
}
#recent .recent_slider .recent_item .recent_img .recent_overlay a {
  font-size: 30px;
  padding: 20px 30px;
  border-radius: 50%;
  background-color: #C99789;
  color: #052E59;
  border: 3px solid #C99789;
  transition: 0.4s;
}
#recent .recent_slider .recent_item .recent_img .recent_overlay a:hover {
  color: white;
  border-color: white;
}
#recent .recent_slider .recent_item .recent_img:hover .recent_overlay {
  transform: scale(1);
}
#recent .recent_slider .recent_item .recent_txt {
  padding: 30px;
  text-align: center;
}
#recent .recent_slider .recent_item .recent_txt input {
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#recent .recent_slider .recent_item .recent_txt p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  text-transform: capitalize;
  padding: 20px 0;
}

#footer {
  padding: 100px 0 0;
  background-color: rgba(5, 46, 89, 0.17);
}
#footer .foot_logo img {
  width: 50%;
}
#footer .foot_txt p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  padding: 20px 75px 20px 0;
}
#footer .foot_txt p span {
  margin-left: 20px;
}
#footer .foot_txt p span i {
  font-size: 20px;
}
#footer .foot_txt .foot_loc {
  display: flex;
  gap: 10px;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#footer .foot_txt .foot_loc:hover {
  color: #C99789;
}
#footer .foot_txt .foot_loc span i {
  transition: 0.4s;
}
#footer .foot_txt .foot_loc:hover span i {
  transform: rotate(360deg);
}
#footer .foot_txt .foot_contact {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer .foot_txt .foot_contact li a {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  display: flex;
  gap: 10px;
}
#footer .foot_txt .foot_contact li a:hover {
  color: #C99789;
}
#footer .foot_txt .foot_contact li a span i {
  transition: 0.4s;
}
#footer .foot_txt .foot_contact li a:hover span i {
  transform: rotate(360deg);
}
#footer .foot_txt .foot_social {
  padding: 0px 0 30px;
  display: flex;
  gap: 30px;
}
#footer .foot_txt .foot_social li a {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #052E59;
  transition: 0.4s;
  padding: 15px;
}
#footer .foot_txt .foot_social li a:hover {
  transform: rotate(360deg);
  background-color: rgba(201, 151, 137, 0.201);
}
#footer .foot_txt h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
}
#footer .foot_head {
  margin-top: 20px;
}
#footer .foot_head h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
  text-transform: uppercase;
}
#footer .foot_lst {
  margin-top: 30px;
}
#footer .foot_lst ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#footer .foot_lst ul li a {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  transition: 0.4s;
}
#footer .foot_lst ul li a:hover {
  color: #C99789;
}
#footer .copyright {
  padding: 10px 0;
  background-color: #052E59;
}
#footer .copyright p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #C99789;
  text-transform: capitalize;
  text-align: center;
}

#glance {
  padding: 100px 0;
}
#glance .glance_head {
  display: flex;
  justify-content: center;
}
#glance .glance_head h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
  padding-bottom: 10px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
#glance .glance_head h2::after {
  content: "";
  width: 50%;
  height: 4px;
  background-color: #C99789;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#glance .glance_txt {
  margin-top: 50px;
}
#glance .glance_txt p {
  text-align: justify;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#glance .glance_txt p .fst_line_glance {
  margin-left: 200px;
}
#glance .glance_txt p .gl_txt_2 {
  display: block;
  margin-top: 50px;
}

#admission {
  padding: 100px 0;
}
#admission .admission_head h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
  text-transform: uppercase;
  padding-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
#admission .admission_head h2::after {
  content: "";
  width: 50%;
  height: 4px;
  background-color: #C99789;
  position: absolute;
  bottom: 0;
  left: 0;
}
#admission .admission_form {
  margin-top: 50px;
}
#admission .admission_form p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#admission .admission_form p span {
  display: block;
  margin-top: 30px;
}
#admission .admission_form form {
  padding: 10px;
  width: 80%;
  margin: 40px auto 0;
  background-color: #FAD9C1;
  border-radius: 16px;
}
#admission .admission_form form .form_head {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
#admission .admission_form form .form_head .form_logo {
  width: 23%;
}
#admission .admission_form form .form_head .form_logo img {
  width: 100%;
}
#admission .admission_form form .form_head .form_head_txt {
  width: 50%;
  padding: 0 20px;
  text-align: center;
}
#admission .admission_form form .form_head .form_head_txt h3 {
  font-family: "Philosopher", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #052E59;
}
#admission .admission_form form .form_head .form_head_txt p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#admission .admission_form form .form_head .form_head_txt h4 {
  text-transform: uppercase;
  font-family: "Philosopher", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #052E59;
}
#admission .admission_form form .form_head .student_pic {
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#admission .admission_form form .form_head .student_pic img {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  border: 3px solid #052E59;
}
#admission .admission_form form .form_head .student_pic input {
  width: 150px;
  margin-top: 10px;
  font-size: 10px;
}
#admission .admission_form form .main_form {
  margin-top: 20px;
  position: relative;
}
#admission .admission_form form .main_form::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
}
#admission .admission_form form .main_form .student_name {
  padding: 30px 20px 0;
  display: flex;
  gap: 30px;
}
#admission .admission_form form .main_form .student_name .sname_box {
  width: 50%;
  position: relative;
}
#admission .admission_form form .main_form .student_name .sname_box input {
  padding: 10px;
  border: 2px solid #052E59;
  width: 100%;
  background-color: transparent;
}
#admission .admission_form form .main_form .student_name .sname_box label {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #651E3E;
  background-color: #FAD9C1;
  text-transform: capitalize;
  position: absolute;
  top: 5px;
  left: 10px;
  transition: 0.4s;
}
#admission .admission_form form .main_form .student_name .sname_box input:focus ~ label, #admission .admission_form form .main_form .student_name .sname_box input:valid ~ label {
  top: -15px;
  left: 25px;
  color: #052E59;
  font-size: 18px;
  background-color: #FAD9C1;
  padding: 0 5px;
}
#admission .admission_form form .main_form .student_name .course_name_box {
  width: 30%;
}
#admission .admission_form form .main_form .student_name .status_box {
  width: 70% !important;
}
#admission .admission_form form .main_form .student_name .sgender_box {
  width: 100%;
  display: flex;
  padding: 5px 10px;
  border: 2px solid #052E59;
}
#admission .admission_form form .main_form .student_name .sgender_box .gender_head {
  width: 30%;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  text-transform: capitalize;
}
#admission .admission_form form .main_form .student_name .sgender_box .genders {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
#admission .admission_form form .main_form .student_name .sgender_box .genders label {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  text-transform: capitalize;
}
#admission .admission_form form .main_form .present_address {
  padding: 40px 0;
  margin: 70px 20px 0;
  border: 2px dotted #052E59;
  position: relative;
}
#admission .admission_form form .main_form .present_address::after {
  content: "present address";
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  text-transform: capitalize;
  position: absolute;
  top: -10%;
  left: 4%;
  background-color: #FAD9C1;
  padding: 0 10px;
}
#admission .admission_form form .main_form .present_address .student_name {
  padding: 0;
}
#admission .admission_form form .main_form .present_address .student_name .present_sname_box {
  margin: 0 10px;
}
#admission .admission_form form .main_form .present_address .p_address {
  margin-top: 30px;
}
#admission .admission_form form .main_form .present_address .p_address .sname_box {
  width: 100%;
}
#admission .admission_form form .main_form .permanent_address::after {
  content: "permanent address";
}
#admission .admission_form form .main_form .studis_bottom {
  margin-top: 30px;
}
#admission .admission_form form .main_form .student_declearation {
  margin-top: 40px;
}
#admission .admission_form form .main_form .student_declearation h3 {
  font-family: "Philosopher", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #052E59;
  margin: 0 auto;
  text-transform: uppercase;
  padding-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
#admission .admission_form form .main_form .student_declearation h3::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #C99789;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#admission .admission_form form .main_form .student_declearation p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  width: 90%;
  margin-left: 25px;
}
#admission .admission_form form .main_form .student_declearation .rules_stu_signature {
  margin: 20px 0 0 25px;
  display: flex;
  justify-content: space-between;
}
#admission .admission_form form .main_form .student_declearation .rules_stu_signature .student_rules {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  width: 40%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#admission .admission_form form .main_form .student_declearation .rules_stu_signature .student_rules::after {
  content: "";
  height: 100%;
  width: 5%;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  transition: 0.4s;
}
#admission .admission_form form .main_form .student_declearation .rules_stu_signature .student_rules:hover {
  color: white;
}
#admission .admission_form form .main_form .student_declearation .rules_stu_signature .student_rules:hover::after {
  width: 100%;
}
#admission .admission_form form .main_form .student_declearation .rules_stu_signature span {
  width: 50%;
  display: flex;
  justify-content: end;
}
#admission .admission_form form .main_form .student_declearation .rules_stu_signature span label {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  text-align: center;
}
#admission .admission_form form .main_form .student_declearation .rules_stu_signature span label input {
  display: block;
  background-color: transparent;
  border-bottom: 3px dotted #052E59;
  border-left: none;
  border-top: none;
  border-right: none;
}
#admission .admission_form form .main_form .student_declearation .head_parent_signature {
  padding: 80px 25px 50px;
  display: flex;
  justify-content: space-between;
}
#admission .admission_form form .main_form .student_declearation .head_parent_signature span label {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  text-align: center;
}
#admission .admission_form form .main_form .student_declearation .head_parent_signature span label input {
  display: block;
  background-color: transparent;
  border-bottom: 3px dotted #052E59;
  border-left: none;
  border-top: none;
  border-right: none;
}
#admission .admission_form form .main_form .student_declearation .add_button {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 10%;
}
#admission .admission_form form .main_form .student_declearation .add_button button {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  width: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
  background-color: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#admission .admission_form form .main_form .student_declearation .add_button button::after {
  content: "";
  height: 100%;
  width: 5%;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  transition: 0.4s;
}
#admission .admission_form form .main_form .student_declearation .add_button button:hover {
  color: white;
}
#admission .admission_form form .main_form .student_declearation .add_button button:hover::after {
  width: 100%;
}

#payment {
  padding: 100px 0;
}
#payment .payment_head h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
  text-transform: capitalize;
  padding-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
#payment .payment_head h2::after {
  content: "";
  width: 50%;
  height: 4px;
  background-color: #C99789;
  position: absolute;
  bottom: 0;
  left: 0;
}
#payment .payment_head p {
  margin-top: 50px;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#payment .pay {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#payment .pay form {
  padding: 50px 20px;
  width: 60%;
  background-color: #F5F5F5;
  border: 2px solid #052E59;
  border-radius: 10px;
}
#payment .pay form .purpose_label {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#payment .pay form .purpose_label span {
  display: block;
}
#payment .pay form .purpose_label .icngap {
  padding-right: 10px;
}
#payment .pay form .purpose_label select {
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
}
#payment .pay form .method {
  margin-top: 30px;
}
#payment .pay form .method ul {
  padding: 15px 5px;
  background-color: white;
  justify-content: space-between;
  row-gap: 10px;
}
#payment .pay form .method ul li button {
  padding: 10px;
  border-radius: 0;
  border: none;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  background-color: #F5F5F5;
  height: 50px;
}
#payment .pay form .method ul li button .payicon {
  width: 50px;
  padding-right: 10px;
}
#payment .pay form .method ul li .active {
  background-color: #C99789;
}
#payment .pay form .method .tab-content .bkash_tab span {
  margin-top: 50px;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#payment .pay form .method .tab-content .bkash_tab .QRCode {
  text-align: center;
}
#payment .pay form .method .tab-content .bkash_tab .QRCode img {
  margin-top: 20px;
  width: 40%;
}
#payment .pay form .method .tab-content .bkash_tab .pay_info {
  margin-top: 50px;
}
#payment .pay form .method .tab-content .Credit_tab {
  margin-top: 50px;
}
#payment .pay form .method .tab-content .bank_tab {
  margin-top: 50px;
}
#payment .pay form .method .tab-content .paypal_tab {
  margin-top: 50px;
}
#payment .pay form .pay_btn {
  padding: 50px 0;
  text-align: center;
}
#payment .pay form .pay_btn button {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
}
#payment .pay form .pay_btn button::after {
  content: "";
  height: 100%;
  width: 5%;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  transition: 0.4s;
}
#payment .pay form .pay_btn button:hover {
  color: white;
}
#payment .pay form .pay_btn button:hover::after {
  width: 100%;
}

#scholarship {
  padding: 100px 0;
}
#scholarship .scholarship_head h2 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #052E59;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 10px;
  margin: 0 auto;
  position: relative;
}
#scholarship .scholarship_head h2::after {
  content: "";
  width: 50%;
  height: 4px;
  background-color: #C99789;
  position: absolute;
  bottom: 0;
  left: 0;
}
#scholarship .scholarship_head p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  margin-top: 20px;
  text-align: center;
}
#scholarship .scholar_txt {
  padding: 30px 0;
}
#scholarship .scholar_txt p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#scholarship .scholar_form {
  margin-top: 50px;
}
#scholarship .scholar_form form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #C99789;
}
#scholarship .scholar_form form .form_head {
  display: flex;
}
#scholarship .scholar_form form .form_head .form_logo {
  width: 25%;
}
#scholarship .scholar_form form .form_head .form_logo img {
  width: 90%;
}
#scholarship .scholar_form form .form_head .form_head_txt {
  width: 50%;
  text-align: center;
}
#scholarship .scholar_form form .form_head .form_head_txt h3 {
  font-family: "Philosopher", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #052E59;
}
#scholarship .scholar_form form .form_head .form_head_txt p {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
}
#scholarship .scholar_form form .form_head .form_head_txt h4 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #052E59;
  text-transform: capitalize;
}
#scholarship .scholar_form form .form_head .student_pic {
  width: 25%;
  text-align: right;
}
#scholarship .scholar_form form .form_head .student_pic img {
  width: 150px;
  height: 100px;
  border: 3px solid #052E59;
}
#scholarship .scholar_form form .form_head .student_pic input {
  width: 240px;
  transform: scale(0.7);
  margin: 12px 0 0 25px;
}
#scholarship .scholar_form form .form_main {
  margin-top: 50px;
  position: relative;
}
#scholarship .scholar_form form .form_main::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #052E59;
  position: absolute;
  top: 0;
  left: 0;
}
#scholarship .scholar_form form .form_main .stu_name {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
#scholarship .scholar_form form .form_main .stu_name span {
  width: 45%;
}
#scholarship .scholar_form form .form_main .stu_name span label {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #052E59;
  text-transform: capitalize;
  transition: 0.4s;
}
#scholarship .scholar_form form .form_main .stu_name span input {
  width: 100%;
  padding: 10px;
  border: 3px double #052E59;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#scholarship .scholar_form form .form_main .signs {
  padding: 50px 0;
}
#scholarship .scholar_form form .form_main .signs span {
  text-align: center;
}
#scholarship .scholar_form form .form_main .signs span input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px dotted #052E59;
}/*# sourceMappingURL=style.css.map */