@import "../mixins/mixin";
@import "../variables/variable";
#banner{
    .bnrs_item{
        padding: 50px 0;
        height: 750px;
        .bnr_txt{
            h1{
                @include head ($ff: $primary_sont , $fw: 700 , $fs: 60px , $clr: $secondery_color );
                width: fit-content;
                text-transform: capitalize;
            }
            p{
                width: fit-content;
                @include discription ($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color);
                margin: 50px 0;
                padding: 10px 20px;
                background-color: $third_color;
            }
            a{
                @include  btnani($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color , $width: fit-content , $wth: 5% , $bg: $primary_color , $ptb: 5px , $plr: 50px );
            }
        }
    }
}