@import "../mixins/mixin";
@import "../variables/variable";
header{
    padding: 20px 0;
    background-color: $third_color;
    .main_head{
        display: flex;
        justify-content: space-between;
        .Admission{
            width: 33.333%;
            a{

                @include btnani($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color , $width: fit-content , $wth: 5%);
            }
        }
        .headline{
            position: relative;
            width: 33.333%;
            overflow: hidden;
            p{
                @include discription ($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color);
                position: absolute;
                top: 20%;
                left: 0;
                width: 540px;
                animation: scroll 15s linear infinite running ;
            }
            @keyframes scroll {
                from{
                    top: 20%;
                    left: 100%;
                }
                to{
                    top: 20%;
                    left: -150%;
                }
            }
        }
        .social{
            width: 33.333%;
            ul{
                display: flex;
                justify-content: end;
                gap: 40px;
                li{
                    a{
                        font-size: 30px;
                        transition: .4s;
                        color: $primary_color;
                        &:hover{
                            transform: rotate(360deg) scale(1.5);
                            color: $secondery_color;
                        }
                    }
                }
            }
        }
    }
}