@import "../mixins/mixin";
@import "../variables/variable";
header{
    padding: 20px 0;
    background-color: $third_color;
    .main_head{
        display: flex;
        justify-content: space-between;
        .Admission{
            width: 33.333%;
            a{
                padding: 5px 50px;
                background-color: $primary_color;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                @include discription ($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color);
                position: relative;
                z-index: 1;
                transition: .4s;
                &::after{
                    content: '';
                    height: 100%;
                    width: 5%;
                    background-color: $secondery_color;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-top-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    z-index: -1;
                    transition: .4s;
                }
                &:hover{
                    color: $primary_color;
                }
                &:hover::after{
                    width: 100%;
                }
            }
        }
        .headline{
            width: 33.333%;
            p{
                @include discription ($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color);
            }
        }
        .social{
            width: 33.333%;
            ul{
                display: flex;
                justify-content: end;
                gap: 40px;
                li{
                    a{
                        font-size: 30px;
                        transition: .4s;
                        color: $primary_color;
                        &:hover{
                            transform: rotate(360deg) scale(1.5);
                            color: $secondery_color;
                        }
                    }
                }
            }
        }
    }
}