@import "../mixins/mixin";
@import "../variables/variable";
#important{
    padding: 100px 0;
    background-color: rgba(201, 151, 137, 0.172);
    .important_main{
        display: flex;
        justify-content: space-between;
        .important_item{
            width: 15%;
            background-color: $third_color;
            border-left: 5px solid $third_color;
            border-radius: 10px;
            transition: .4s;
            &:hover{
                border-color: $secondery_color;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                transform: scale(1.15);
            }
            .important_icon{
                padding: 10px;
                img{
                    width: 100%;
                }
            }
            h2{
                text-align: center;
                a{
                    @include head ($ff: $primary_sont , $fw: 400 , $fs: 30px , $clr: $primary_color );
                }
            }
        }
    }
}