@import "../mixins/mixin";
@import "../variables/variable";
nav{
    .navbar-brand{
        width: 150px;
        img{
            width: 100%;
        }
    }
    .main_menu{
        display: flex;
        justify-content: space-between;
        ul{
            width: 85%;
            justify-content: space-between;
            li{
                a{
                    @include btnani($ff: $secondery_font , $fw: 400 , $fs: 20px , $clr: $secondery_color , $wth: 0% , $bg: transparent );
                }
            }
            .dropdown{
                position: relative;
                ul{
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: $third_color;
                    padding: 10px;
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    transition: all linear .4s;
                    z-index: 1;
                    li{
                        display: inline;
                        a{
                            @include btnani($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color , $wth: 3%);
                        }
                    }
                }
                &:hover > ul{
                    visibility: visible;
                    opacity: 1;
                    animation: updown .4s alternate;
                }
                @keyframes updown {
                    from{
                        top: 250%;
                        left: 0;
                    }
                    to{
                        top: 100%;
                        left: 0;
                    }
                }
            }
        }
        .log_sign{
            a{
                @include btnani ($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color , $wth: 0% , $bg: transparent , $ptb: 5px , $plr: 12px  );
            }
        }
    }
}
.menufixed{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    animation: menufixed 1s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
@keyframes menufixed {
    from{
        top: -200px;
        left: 0;
    }
    to{
        top: 0;
        left: 0;
    }
}