@import "../mixins/mixin";
@import "../variables/variable";
#profile{
    padding: 100px 0;
    .main_profile{
        .nav-pills{
            border: 3px double $secondery_color;
            padding: 10px;
            gap: 40px;
            button{
                text-transform: capitalize;
                @include btnani($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color , $width: 100% , $wth: 5% , $bg: transparent , $ptb: 5px , $plr: 50px );
                border: 2px solid $secondery_color;
                border-radius: 15px 0;
            }
            .active{
                @include btnani($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $primary_color , $width: 100% , $wth: 5% , $bg: $secondery_color , $ptb: 5px , $plr: 50px );
            }
        }
        .tab-content{
            width: 100%;
            .tab-pane{
                .profile{
                    border: 3px double $secondery_color;
                    padding: 10px;
                    display: flex;
                    gap: 50px;
                    position: relative;
                    .profile_img{
                        width: 30%;
                        border: 2px solid $secondery_color;
                        img , input{
                            width: 100%;
                        }
                        input{
                            border-top: 2px solid $secondery_color;
                            margin-top: 10px;
                            background-color: transparent;
                        }
                    }
                    .profile_info{
                        width: 60%;
                        h2{
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            a{
                                @include head ($ff: $primary_sont , $fw: 700 , $fs: 48px , $clr: $secondery_color );
                            }
                        }
                        ul{
                            margin-top: 30px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            li{
                                padding: 7px 0;
                                width: fit-content;
                                &:hover{
                                    a{
                                        i{
                                            transform: rotate(360deg);
                                        }
                                    }
                                }
                                a{
                                    @include discription ($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color);
                                    i{
                                        transition: 2s;
                                    }
                                }
                            }
                        }
                    }
                    .profile_editor{
                        width: 10%;
                        text-align: end;
                        button{
                            @include btnani($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color , $width: 100% , $wth: 5% , $bg: $primary_color , $ptb: 5px , $plr: 10px );
                            border: 2px solid $secondery_color;
                            border-radius: 15px 0;
                            i{
                                transition: .4s;

                            }
                            &:hover i{
                                transform: rotate(360deg);
                            }
                        }
                        .modal{
                            .modal-dialog{
                                .modal-content{
                                    .modal-header{
                                        h3{
                                            @include  discription ($ff: $secondery_font , $fw: 700 , $fs: 30px , $clr: $secondery_color);
                                        }
                                        button{
                                            @include btnani($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color , $width: 10% , $wth: 5% , $bg: $primary_color , $ptb: 5px , $plr: 20px );
                                            border-radius: 13px 0;
                                            &:hover::after{
                                                width: 0%;
                                            }
                                        }
                                    }
                                    form{
                                        .modal-body{
                                            text-align: left;
                                            .form-floating{
                                                label{
                                                    margin-top: 40px;
                                                    text-transform: capitalize;
                                                }
                                                input{
                                                    margin-top: 10px;
                                                    @include  discription ($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color);
                                                }
                                                span{
                                                    text-transform: capitalize;
                                                    @include  discription ($ff: $secondery_font , $fw: 400 , $fs: 20px , $clr: $secondery_color);
                                                }
                                            }
                                        }
                                        .modal-footer{
                                            button{
                                                @include btnani($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color , $width: 50% , $wth: 5% , $bg: $primary_color , $ptb: 5px , $plr: 30px );
                                                border-radius: 15px 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .pro_title{
                        padding-bottom: 30px;
                        h3{
                            text-transform: capitalize;
                            @include head ($ff: $primary_sont , $fw: 600 , $fs: 30px , $clr: $secondery_color );
                            padding-bottom: 10px;
                            width: fit-content;
                            position: relative;
                            &::after{
                                content: '';
                                width: 60%;
                                height: 3px;
                                background-color: $secondery_color;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                    .pro_main{
                        display: flex;
                        justify-content: space-between;
                        .perform{
                            width: 48%;
                            p{
                                @include discription ($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color);
                                text-transform: capitalize;
                                padding-bottom: 15px;
                            }
                            .perform_item{
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                .mplt_mdl_cls{
                                    .mdl_cls_txt{
                                        width: 90%;
                                        padding-bottom: 5px;
                                        display: flex;
                                        justify-content: space-between;
                                        p{
                                            padding-bottom: 0;
                                            @include discription ($ff: $secondery_font , $fw: 400 , $fs: 14px , $clr: $secondery_color);
                                        }
                                    }
                                    .progress_text {
                                        color: $secondery_color; 
                                       }
                                      .progress_bar {
                                       width: 90%;
                                       height: 15px;
                                       background-color: $third-color;
                                       border-radius: 5px;
                                       position: relative;
                                       overflow: hidden;
                                       
                                       .bar {
                                         position: absolute;
                                         top: 0;
                                         left: 0;
                                         height: 100%;
                                         background-color: green;
                                       }
                                       .bar_present {
                                         position: absolute;
                                         top: 0;
                                         left: 0;
                                         height: 100%;
                                         background-color: green;
                                       }
                                       .bar_absent {
                                         position: absolute;
                                         top: 0;
                                         left: 0;
                                         height: 100%;
                                         background-color: green;
                                       }
                                       .bar_assignment {
                                         position: absolute;
                                         top: 0;
                                         left: 0;
                                         height: 100%;
                                         background-color: green;
                                       }
                                     }
                                }
                            }
                        }
                        .perform_counting{
                            width: 48%;
                            .perform_item{
                                .item_line{
                                    display: flex;
                                    justify-content: space-between;
                                    .main_item{
                                        padding: 10px;
                                        border: 2px double $secondery_color;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-around;
                                        align-items: center;
                                        gap: 20px;

                                        h4{
                                            text-transform: capitalize;
                                            @include head ($ff: $primary_sont , $fw: 400 , $fs: 22px , $clr: $secondery_color );
                                        }
                                        p{
                                            padding: 0;
                                            @include  discription ($ff: $secondery_font , $fw: 400 , $fs: 16px , $clr: $secondery_color);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .payment_summary{
                        width: 100%;
                        .pay_line{
                            display: flex;
                            justify-content: space-between;
                            .payitem{
                                padding: 10px;
                                border: 2px double $secondery_color;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: center;
                                gap: 20px;
                                h4{
                                     text-transform: capitalize;
                                     @include head ($ff: $primary_sont , $fw: 400 , $fs: 22px , $clr: $secondery_color );
                                }
                                p{
                                     padding: 0;
                                     @include  discription ($ff: $secondery_font , $fw: 400 , $fs: 16px , $clr: $secondery_color);
                                    }
                            }
                        }
                    }
                    .settings{
                        padding: 50px 0;
                        margin: 0 auto;
                        width: 70%;
                        form{
                            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                            padding: 20px;
                            border-radius: 15px;
                            .form-group{
                                label{
                                    @include  discription ($ff: $secondery_font , $fw: 400 , $fs: 20px , $clr: $secondery_color);
                                }
                                .input-group{
                                    align-items: center;
                                    border: 2px solid $secondery_color;
                                    input{
                                        width: 80%;
                                    }
                                    .input-group-addon{
                                        padding: 0 20px;
                                    }
                                }
                            }
                            .button{
                                text-align: right;
                                button{
                                    @include btnani($ff: $secondery_font , $fw: 400 , $fs: 20px , $clr: $secondery_color , $width: 40% , $wth: 5% , $bg: $primary_color , $ptb: 5px , $plr: 20px );
                                }
                            }
                        }
                    }
                }
                .pay_detailes{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .pay_month{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 10px 0;
                        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                        .batch{
                            h4{
                                a{
                                    text-transform: capitalize;
                                    @include  discription ($ff: $secondery_font , $fw: 400 , $fs: 18px , $clr: $secondery_color);
                                }
                            }
                        }
                        .payments_detailes{
                            form{
                                @include  discription ($ff: $secondery_font , $fw: 400 , $fs: 18px , $clr: $secondery_color);
                                display: flex;
                                flex-direction: column;
                                input{
                                    @include  discription ($ff: $secondery_font , $fw: 400 , $fs: 18px , $clr: $secondery_color);
                                    border: none;
                                }
                            }
                        }
                        .pay_recipt{
                            button{
                                padding: 10px;
                                border: none;
                                background-color: green;
                                color: $primary_color;
                                transition: .4s;
                                i{
                                    transition: .4s;
                                }
                                &:hover{
                                    transform: rotate(360deg);
                                }
                                &:hover i{
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    }
                }
                .parent_profile{
                    margin-top: 30px;
                    border: 3px double $secondery_color;
                    padding: 10px;
                    form{
                        .pp_item{
                            display: flex;
                            justify-content: space-between;
                            span{
                                width: 48%;
                            }
                            .pp_editor{
                                @include btnani($ff: $secondery_font , $fw: 400 , $fs: 22px , $clr: $secondery_color , $width: 20% , $wth: 5% , $bg: $primary_color , $ptb: 5px , $plr: 10px );
                                border: 2px solid $secondery_color;
                                border-radius: 15px 0;
                                i{
                                    transition: 1s;
    
                                }
                                &:hover i{
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    }
                }
                .batch_profile{
                    display: block;
                }
            }
        }
    }
}
.dot{
	background-repeat: repeat;
	background-color: transparent;
	min-height: 50vh;
	
	&--1{
		position: relative;
		background-image: linear-gradient(to bottom, transparent, transparent 20%, #fff 20%, #fff 80%, transparent 90%),
			linear-gradient(to right, transparent, transparent 20%, #fff 20%, #fff 80%, transparent 80%),
			linear-gradient(to right, rgba(238, 238, 238, 0.521), rgba(238, 238, 238, 0.498) 20%, #fff 20%, #fff 80%, rgba(237, 237, 237, 0.498) 80%);
		background-size: 10px 10px;
	}
}



